.dropdown {
  display: flex;
}

.dropdownButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 25%;
  right: 5%;
  margin-right: 18px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--background-navbar-rgb));
  position: absolute;
  top: 100%;
  right: 5%;
  width: 60px;
  transform: translateY(-10%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.menuOpen {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.menuClosed {
  transform: translateY(-10%);
  opacity: 0;
  visibility: hidden;
}

.dropdownLink {
  display: block;
  padding: 1rem;
  font-weight: bold;
  color: var(--font-color-primary);
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--font-color-secondary);
  border-collapse: collapse;
}

.dropdownLink:hover {
  background-color: rgb(var(--background-end-rgb));
  color: var(--font-color-menu-secondary);
}

.disabledLink {
  pointer-events: none;
  cursor: default;
}

@media (max-width: 768px) {
  .dropdownButton {
    cursor: default;
    font-size: 1.5rem;
  }
}
