.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  min-height: 20px;
  z-index: 100;
  display: grid;
  justify-content: center;
  background-color: rgb(var(--background-navbar-rgb));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.img {
  border-radius: 50%;
}

.link {
  text-decoration: none;
  color: var(--font-color-primary);
  font-size: 18px;
  font-weight: bold;
}

.link:hover {
  color: var(--font-color-menu-secondary);
}
