.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7dvh;
  min-height: var(--navbar-min-height);
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: rgb(var(--background-navbar-rgb));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Por defecto, ocultamos NavbarMobile*/
.header > :nth-child(2) {
  display: none;
}

/* En pantallas pequeñas */
@media (max-width: 768px) {
  .header > :nth-child(1) {
    display: none; /* Oculta Navbar */
  }

  .header > :nth-child(2) {
    display: block; /* Muestra MobileNavbar */
  }
}
