.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.img {
  border-radius: 50%;
}

.link {
  text-decoration: none;
  color: var(--font-color-primary);
  font-size: 18px;
  font-weight: bold;
}

.link:hover {
  color: var(--font-color-menu-secondary);
}
