.carouselContainer {
  text-align: center;
  width: 100%;
  height: 600px;
  margin: 5% 0;
}

.carouselTitle {
  font-size: 40px;
  font-weight: bold;
  cursor: default;
  color: var(--font-color-primary);
  padding-top: 40px;
}

.carouselTitleDescription {
  display: flex;
  justify-content: center;
  align-items: inherit;
  font-size: 1rem;
  color: var(--font-color-primary);
  width: 100%;
  z-index: 2;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 75%;
  margin: 2.5dvh auto;
}

.carouselList {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  list-style-type: none;
}

.carouselItem {
  flex: 0 0 28%;
  text-align: center;
  background-color: inherit;
  border-radius: 10px;
  margin: 0 2.5dvw;
}

.cityTitle {
  font-size: 1.5rem;
  margin: 10px 0 5px;
  color: var(--font-color-primary);
}

.cityDescription {
  font-size: 1rem;
  color: var(--font-color-primary);
  margin-top: 5px;
}

.carouselArrow {
  position: absolute;
  top: 50%;
  background-color: rgba(var(--background-arrow-rgba));
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s ease;
}

.carouselArrow:hover {
  background-color: rgba(var(--background-arrow-hover-rgba));
}

.carouselArrowLeft {
  top: 0px;
  left: 0px;
  transform: translate(2dvw, 20dvh);
}

.carouselArrowRight {
  top: 0px;
  right: 0px;
  transform: translate(-2dvw, 20dvh);
}

.carouselArrow svg {
  width: 24px;
  height: 24px;
  fill: var(--font-color-primary);
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .carouselItem {
    flex: 0 0 60%;
    margin: 0 20dvw;
  }

  .carouselTitle {
    font-size: 28px;
  }

  .carouselTitleDescription {
    font-size: 0.9rem;
    padding-top: 12px;
    margin-bottom: 2.5dvh;
  }

  .cityTitle {
    font-size: 1.2rem;
  }

  .cityDescription {
    font-size: 0.9rem;
  }
}
