.footer {
  background-color: rgb(var(--background-navbar-rgb));
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section {
  margin: 1rem;
}

.section h4 {
  color: var(--font-color-secondary);
  margin-bottom: 0.5rem;
  user-select: none;
}

.section p {
  color: var(--font-color-secondary);
  margin-bottom: 0.5rem;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 0.3rem;
}

.link {
  color: var(--font-color-secondary);
}

.link:hover {
  text-decoration: underline;
  color: rgb(135, 230, 255);
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeForm input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.subscribeForm button {
  background-color: #0a6eac;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.subscribeForm button:hover {
  background-color: #0a9cac;
  color: #fff;
}
