.div {
  display: grid;
  margin: 5% 0;
}

.aboutUsDescription {
  margin: 0 10%;
}

.boldText {
  font-weight: bold;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.titleTestimonies {
  font-size: 32px;
}
