.main {
  justify-content: flex-start;
}

.img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.monumentDescription {
  margin: 0 12%;
}

.monumentLink {
  width: 100%;
  margin: 20px 0;
}

.monumentLink p {
  display: block;
}

@media (max-width: 768px) {
  .monumentLink {
    margin: 0;
  }
}
